*{
    padding: 0;
    margin: 0;
    border-style: border-box;
}

body{
    background-color: rgba(0, 255, 255, 0.368);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}